<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./Css/index.css">
    <link rel="icon" href="./Css/Annotation 2020-07-03 220522.jpg">
</head>
<body>
    <h1>{{>header}}
    <img src="./Asset/WIN_20200629_12_59_42_Pro (2).jpg" alt="my image ">
    {{>footer}}
</body>
</html>