<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="./Css/Annotation 2020-07-03 220522.jpg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="./Css/index.css">
</head>
<body>
    <h1>{{>header}}</h1>
    <h2>This is the Contact section</h2>
        <h1>{{>footer}}
    </h1>
</body>
</html>