<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    <link rel="icon" href="./Css/Annotation 2020-07-03 220522.jpg">
    <link rel="stylesheet" href="./Css/index.css">
</head>
<body>
    {{>header}}
    {{>footer}}
</body>
</html>