<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express</title>
    <link rel="icon" href="./Css/Annotation 2020-07-03 220522.jpg">
    <link rel="stylesheet" href="./Css/index.css">
</head>
<body>
    <h1>
        {{>header}}
            </h1>
            <form>
                <input type="text" placeholder="Somewhere interesting" data-validation-required-message="fill out form"/>
                <button>Search</button>
            </form>
            <h2 class="values1"></h2>
            
            <h3><p> Use this site to  get the latest weather information</p></h3>
            <br/>
            <hr>
            <h2>
                {{>footer}}
            </h2>
            <script src="./Js/index.js"></script>
</body>
</html>